<h2>Friend request</h2>
<ul>
  <% @user.friend_request.each do |friend| %>
    <%= friend.name %>
    <%= link_to 'Accept', accept_path(friend_id: friend.id), method: 'post', class: "btn btn-primary" %>
  <% end %>
</ul>
