<h1> Inbox </h1>
<%= link_to "Received Messages", "#", class: "btn btn primary" %>
<%= link_to "Sent Messages", "#", class: "btn btn primary" %>
<%= link_to "Add Friends", users_path, class: "btn btn primary" %>
<%= link_to "New message", "#", class: "btn btn primary" %>
