<nav class="navbar navbar-light bg-faded">
  <!-- Toggle Button -->
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#nav-content">
    &#9776;
  </button>
  <!-- Nav Content -->
  <div class="collapse navbar-toggleable-xs" id="nav-content">
    <a class="navbar-brand" href="<%= root_path %>">FastText</a>
    <ul class="nav navbar-nav">
      <% if current_user.present? %>
        <li class="nav-item">
          <%= link_to "Sign Out", logout_path, method: 'delete', class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", new_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
